@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 54px 20px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.my-logo {
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  text-decoration: none;
}

.menu {
  width: 24px;
  height: 24px;
  color: #8161cc;
}

.main-container {
  overflow: hidden;
}

.headline {
  background-color: #fff;
  background-image: url(../images/mobile-version-bg.png);
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  height: 604px;
  width: 100%;
  display: flex;
  background-size: cover;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

.headline-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-description {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.connect-link {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.social-media-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 30px;
  gap: 30px;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 329px;
  height: 555px;
  background-color: #fff;
  border: 3px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 0.5px 0.25px inset #c8c6c6;
}

.card-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.heading-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-sub-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title-canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

#marker {
  color: #c1c7d0;
}

.title-developer {
  font-family: "Poppins", sans-serif;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.title-year {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tonic-img-desktop {
  display: block;
}

.desciption-p-mobile {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.pro-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}

#html-1 {
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  padding: 4px 12px;
  color: #6070ff;
  letter-spacing: 0.03;
}

.btn-see-project {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #fff;
}

.about-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 21px;
  gap: 24px;
  border-radius: 0 80px 0 0;
}

.about-section-inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  gap: 12px;
}

.about-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  background-color: #fff;
  width: 327px;
  height: 101px;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  color: #172b4d;
}

.about-description {
  font-family: "Poppins", sans-serif;
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-link1 {
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  list-style-type: none;
  gap: 19px;
  align-items: center;
}

.lang-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  width: 327px;
  height: 72px;
  margin-top: 23px;
}

.language {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.lange-type {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.lange-type-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
}

.lang-list-frame {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  width: 327px;
  height: 72px;
  margin-top: 23px;
  border-bottom: 1px solid #dfe1e6;
}

.contact-container {
  background: #6070ff url(../images/contact-form-bg.svg) no-repeat 100% 100%;
  height: max-content;
  width: 100%;
  border-top-left-radius: 80px;
}

.contact-container-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
}

.contact-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-top: 12px;
  width: 327px;
  height: 102px;
  margin-bottom: 87px;
  text-align: center;
}

.form-article img {
  margin: 30px 121px 8px 121px;
}

.form-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  height: 50px;
  width: 327px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #172b4d;
}

.contact-form input:last-child {
  margin-bottom: 20px;
}

#message-box {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 22px;
  border: 1px solid #dfd8dc;
}

.contact-form textarea {
  padding-top: 16px;
}

.contact-form button {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 36px;
  background-color: white;
  color: #6070ff;
  border-radius: 8px;
  width: 140px;
  height: 48px;
  letter-spacing: 0.03em;
  transition: all ease-in-out 0.2s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  padding-left: 16px;
}

.contact-form button:hover {
  border: 1px solid #ebebff;
  background: #6070ff;
  color: white;
}

.contact-form button:active {
  background-color: #6a65fc;
  color: #fff;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 4.5em;
    justify-content: space-between;
    align-items: baseline;
  }

  .tonic-img-mobile {
    display: none;
  }

  .my-logo {
    width: 76px;
    height: 20px;
    font-style: normal;
    margin-left: 155px;
    transition: all 1s;
  }

  .menu {
    width: 259px;
    height: 40px;
    text-align: center;
    margin-right: 154px;
  }

  .hamberger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }

  ul {
    list-style-type: none;
  }

  #porfolio,
  #about,
  #contact {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: auto;
    height: 20px;
    color: #344563;
    transition: all 1s;
  }

  .headline {
    background: #fff url(../images/header-bg-desktop.svg) no-repeat 100% 20%;
    width: 100%;
    height: 57.25em;
    align-items: flex-start;
    padding: 290px 260px 289px 260px;
  }

  .headline-title {
    font-size: 48px;
  }

  .card {
    justify-items: center;
    margin: 142px;
    gap: 142px;
  }

  .card-section {
    width: fit-content;
    height: max-content;
    flex-direction: row;
    justify-content: center;
    gap: 38px;
    padding-top: 24px;
    border: 3px solid #dfe1e6;
    border-radius: 16px;
    box-shadow: 0 0 0.5px 0.25px inset #c8c6c6;
  }

  .work-section-texts {
    height: auto;
    padding: 24px;
    gap: 24px;
  }

  #reverce {
    flex-direction: row-reverse;
  }

  .heading-title {
    width: 496px;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .desciption-p-mobile {
    width: 450px;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .btn-see-project {
    height: auto;
    line-height: 36px;
    width: max-content;
  }

  .btn-see-project:hover {
    border: 1px solid #ebebff;
    background: #6070ff;
    color: white;
  }

  .card-sub-container {
    gap: 25px;
  }

  .title-canopy {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .title-developer {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .title-year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .about-section {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 142px;
    align-items: baseline;
  }

  .contact-container {
    width: 100%;
    height: 52.875em;
    background: #6070ff url(../images/contact-bg-form-desktop.svg) no-repeat 65% 65%;
  }

  .contact-container-sub {
    padding-top: 70px;
  }

  .lange-type {
    flex-direction: row;
  }

  .lange-type-logo {
    width: max-content;
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
  }

  .lang-list {
    width: 100%;
  }

  .lang-list-frame {
    width: 100%;
  }

  .contact-info {
    height: auto;
    width: 569px;
    margin-bottom: 12px;
  }

  .contact-form input {
    width: 448px;
  }

  #message-box {
    width: 448px;
  }

  .contact-form button {
    align-self: center;
    padding: 9px;
  }

  .desktop-menu-item {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: auto;
    height: 20px;
    color: #344563;
    transition: all 1s;
  }

  .card-section-text {
    height: auto;
    padding: 24px;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .desktop-menu-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    position: absolute;
  }

  #porfolio {
    margin-top: 106px;
    text-decoration: none;
    margin-left: 24px;
  }

  ul {
    list-style-type: none;
  }

  .tonic-img-desktop {
    display: none;
  }

  .desktop-menu {
    display: none;
  }
}
